<div>
    <div style="padding: 20px;">
        <ui-label>文本配置路径</ui-label>
        <ui-input id="txtResPath" value="assets/resources/config/Localized_text.json" show-clear></ui-input><br>
        <ui-label>图片配置路径</ui-label>
        <ui-input id="imageResPath" value="assets/resources/config/Localized_image.json" show-clear></ui-input><br>
        <ui-button id="load-btn" type="primary">加载资源</ui-button><br><br>
        <ui-label value="选择语言"></ui-label>
        <ui-select id="lang-select" value="zh">
            <option value="en">英文</option>
            <option value="zh">中文</option>
        </ui-select>
        <ui-button id="apply-btn" type="primary">应用语言</ui-button>
    </div>
</div>